name: Linters

on:
  pull_request: { }
  push:
    branches:
      - main
      - version-*

permissions:
  contents: read

concurrency:
  group: linters-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  ruff:
    name: ruff
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install and run ruff
        run: |
          pip install ruff
          ruff check --output-format=github advanced_compliance/

  security:
    name: security
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install and run pip-audit
        run: |
          pip install pip-audit
          pip-audit
